# Carpeta de compilación de Maven
target/

# Logs
*.log

# Archivos del IDE
*.iml
.idea/
.vscode/

# Archivos temporales de sistema
.DS_Store

# Dependencias si las tienes empaquetadas localmente
*.jar

# Archivos auxiliares fuera del código
NutriFit_Plan_Semanal_Tablas.docx
TFG_NutriFit_Antonio_Manuel_Fresco_Gomez (2).pdf
Carpetas_De_TFM/